
body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%
}

a {
  color: #00B7FF;
}



h1 {
text-align:center;
  font-size:4em;
}

table, th, tr
{
border: 2px solid black;
  text-align:center;
}
th{
font-size:2em;
  height:100%;
  background-color:#980000;
color:white;
}

table
{
width:100%;
  border-collapse:collapse;
}


td
{
padding:10px;
}

table, td, th
{
border:1px solid black;
}



td, tr
{
text-align:center;
 padding:5px;
  font-size:1.8em;
  height:70px;
vertical-align:middle;
}

tr:nth-child(odd)		{
  background-color:#FFFFFF;

}

tr:nth-child(even)		{
  background-color:#E1E1E1;

}


h3 {
text-align:center;
font-size:2em;
}
